разбор д/з #2

In [1]:
# найти сумму чисел из вложенных списков

nested_list = [[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]]

# print(nested_list[0])
# print(type(nested_list[0]))
# print(nested_list[0][0])

total = 0
for inner_list in nested_list:
    for number in inner_list:
        total += number

print(total)

45

In [2]:
# найти все слова, начинающиеся с "а"

word_list = ["apricot", "Apple", "orange", "Dragon fruit", "Asia", "tomato", "asparagus"]
print("all words:")
print(*word_list, sep=", ", end="\n\n")
a_word_list = []

for word in word_list:
    if word[0] == "A" or word[0] == "a":
        a_word_list.append(word)

print("words, starting with «a»:")
print(*a_word_list, sep=", ")

all words:
apricot, Apple, orange, Dragon fruit, Asia, tomato, asparagus

words, starting with «a»:
apricot, Apple, Asia, asparagus

In [3]:
# методы startswith() и endswith() возвращают True или False

name = "Anya"
print(name.startswith("An"))
print(name.startswith("an"))
print(name.endswith("nya"))

True
False
True

In [4]:
word_list = ["apricot", "Apple", "orange", "Dragon fruit", "Asia", "tomato", "asparagus"]

for word in word_list:
    if word.startswith("a"):
        print(word)

apricot
asparagus

In [5]:
# методы upper() и lower() переводят всю строку в верхний / нижний регистр
name = "Anya"
# методы и функции могут возвращать значение / могут что-то изменять в объекте 
name.lower() # возвращает изменную копию строки
name.upper()
name_lower = name.lower()
print(name)
print(name_lower)

Anya
anya

In [7]:
# методы isupper() и islower() возвращают булево значение (если вся строка в верхнем / нижнем регистре)
name = "Anya5"
print(name[0].isupper())
print(name[1:].islower())

True
True

In [8]:
# заменим символы на обратные по размеру
name = "Anya"
name_upd = ""

for char in name:
    if char.isupper():
        name_upd += char.lower()
    else:
        name_upd += char.upper()

name_upd

'aNYA'

In [ ]:
# метод который делает то же самое (! возвращает копию строки, исходная строка не меняется)
name.swapcase()

'aNYA'

In [9]:
# решение второй задачи с поиском слов на «а» с использованием новых методов

word_list = ["apricot", "Apple", "orange", "Dragon fruit", "Asia", "tomato", "asparagus"]
a_word_list = []

for word in word_list:
    if word.lower().startswith("a"):
        a_word_list.append(word)

a_word_list

['apricot', 'Apple', 'Asia', 'asparagus']

In [ ]:
# напоминалка про метод extend()

a_list = ["apricot", "Apple"]
b_list = ["orange", "Dragon fruit"]
# a_list.append(b_list)

a_list.extend(b_list)
a_list

['apricot', 'Apple', 'orange', 'Dragon fruit']

In [10]:
# проверить сумму while

int1 = int(input("enter the first number: "))
int2 = int(input("enter the second number: "))

correct_sum = int1 + int2
answer = int(input(f"what's {int1} + {int2}?\n"))

while answer != correct_sum:
    answer = int(input(f"try again. {int1} + {int2} = "))

print("good job!")

enter the first number: 2
enter the second number: 4
what's 2 + 4?
2
try again. 2 + 4 = 3
try again. 2 + 4 = 4
try again. 2 + 4 = 6
good job!

In [11]:
# числа без остатка в одну строку от 1 до 100 (включительно)
# (один из вариантов решения)

divisor = int(input("enter the number: "))
number = 0
print(f"numbers from 1 to 100 that can be divided by {divisor} without a remainder:")

numbers_to_print = []

while number < 100:
    number += 1
    if number % divisor == 0:
        numbers_to_print.append(number)

print(*numbers_to_print)

enter the number: 12
numbers from 1 to 100 that can be divided by 12 without a remainder:
12 24 36 48 60 72 84 96

In [13]:
# числа без остатка в одну строку
# без сохранения в список

divisor = int(input("enter the number: "))
number = 0
print(f"numbers from 1 to 100 that can be divided by {divisor} without a remainder:")

while number < 100:
    number += 1
    if number % divisor == 0:
        print(number, end=" ")

enter the number: 6
numbers from 1 to 100 that can be divided by 6 without a remainder:
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [12]:
# фукнция range() генерирует целочисленную последовательность в заданном промежутке

for num in range(1, 10):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9

In [14]:
# числа без остатка в одну строку через for

divisor = int(input("enter the number: "))
number = 0
print(f"numbers from 1 to 100 that can be divided by {divisor} without a remainder:")

numbers_to_print = []

for number in range(1, 101):
    if number % divisor == 0:
        print(number, end=" ")

enter the number: 10
numbers from 1 to 100 that can be divided by 10 without a remainder:
10 20 30 40 50 60 70 80 90 100

In [15]:
for i in range(5):
    print("hello!")

hello!
hello!
hello!
hello!
hello!

In [16]:
list_from_range = list(range(10))
list_from_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# итерируемый объект -- list, string, range -- можно можно использовать цикл for
for num in range(1, 10, 2):
    print(num, end=" ")

1 3 5 7 9

In [ ]:
# напоминалка про срез (списки, строки)
name = "anya"
name[1:-1] # срез, правая граница не включается
name[:]

'anya'

In [ ]:
# что если нужно удалить какие-то элементы списка?

word_list = ["apricot", "Apple", "aloe", "orange", "Dragon fruit", "Asia", "tomato", "asparagus"]

# можно сделать копию

# word_copy = []
# word_copy.extend(word_list)

# for word in word_copy:
#     if word.lower().startswith("a"):
#         word_list.remove(word)
removed_words = []

# можно сделать поверхностную копию также используя срез[:] или метод .copy()
# но!! если элементами списка также являются объекты изменяемых типов, то такой копии будет недостаточно ** (см. внизу)

for word in word_list[:]:
    if word.lower().startswith("a"):
        word_list.remove(word)
        removed_words.append(word)

print(word_list)
print(removed_words)

['orange', 'Dragon fruit', 'tomato']
['apricot', 'Apple', 'aloe', 'Asia', 'asparagus']

In [ ]:
# присваивание не создает новый объект, а копирует ссылки на тот же самый объект. поэтому если меняется он, меняется и "копия". см. подробней ниже 
word_list = ["apricot", "Apple", "aloe", "orange", "Dragon fruit", "Asia", "tomato", "asparagus"]
word_copy = word_list

word_copy[0] = "pineapple"
word_list

['pineapple',
 'Apple',
 'aloe',
 'orange',
 'Dragon fruit',
 'Asia',
 'tomato',
 'asparagus']

In [19]:
# list comprehension -- способо короткого задания списка на базе существующего

movies_22 = ["Don't Look Up", "West Side Story", "Old", "Spider-Man: No Way Home", "CODA", 
             "A Quiet Place Part II", "The Suicide Squad", "The Power of the Dog"]

movies_lower = []

for movie in movies_22:
    movies_lower.append(movie.lower())

# тоде самое в одну строку
movies_lower = [movie.lower() for movie in movies_22]
print(movies_lower)

["don't look up", 'west side story', 'old', 'spider-man: no way home', 'coda', 'a quiet place part ii', 'the suicide squad', 'the power of the dog']

In [20]:
# найдем все фильмы на the двумя способами

movies_22 = ["Don't Look Up", "West Side Story", "Old", "Spider-Man: No Way Home", "CODA", 
             "A Quiet Place Part II", "The Suicide Squad", "The Power of the Dog"]

# старый способ:
# the_movies = []
# for movie in movies_22:
#     if movie.startswith("The "):
#         the_movies.append(movie)

# print(the_movies)

the_movies = [movie for movie in movies_22 if movie.startswith("The ")]
print(the_movies)

['The Suicide Squad', 'The Power of the Dog']

In [ ]:
# list comprehension с условием

movies_22 = ["Don't Look Up", "West Side Story", "Old", "Spider-Man: No Way Home", "CODA", 
             "A Quiet Place Part II", "The Suicide Squad", "The Power of the Dog"]

# the_movies = []
# for movie in movies_22:
#     if movie.startswith("The "):
#         the_movies.append(movie.lower())

# print(the_movies)
print(movies_22)
the_movies = [movie.lower() for movie in movies_22 if movie.startswith("The ")]
print(the_movies)

["Don't Look Up", 'West Side Story', 'Old', 'Spider-Man: No Way Home', 'CODA', 'A Quiet Place Part II', 'The Suicide Squad', 'The Power of the Dog']
['the suicide squad', 'the power of the dog']

In [ ]:
numbers = list(range(20))

# my_list = [x for x in list]
odd_numbers_list = [numb for numb in numbers if numb != 3 and numb % 2 == 1]
odd_numbers_list

[1, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# методы join() и split()

sentence = "The Owls Are Not What They Seem"
words = sentence.split()

stop_list = ["the", "a", "in", "they", "are"]

# удалить из списка words те слова которые содержатся в stop_list

words = [word for word in words if word.lower() not in stop_list]

print(words)

joined_words = "_".join(words)
# print(type(joined_words))
print(joined_words)

['Owls', 'Not', 'What', 'Seem']
Owls_Not_What_Seem

In [ ]:
# split() с заданным разделителем
names = "anya, katya, margo, dasha"
names_list = names.split(", ")
print(names_list)

['anya', 'katya', 'margo', 'dasha']

In [ ]:
# split() с ограничением на количество срезов
phone = "921-788-57-22"
phone_w_code = phone.split("-", 1)
phone_w_code

['921', '788-57-22']

In [21]:
# методы strip(), rstrip(), lstrip()

word = " the    "
word1 = word.strip()
word2 = word.lstrip()
word3 = word.rstrip("$")
print(word1)
print(word2)
print(word3)

the
the
 the

In [22]:
"do$om$".rstrip("$")

'do$om'

In [ ]:
# strip использует не подстроку, а набор символов для удаления
word = "sad...y.x"
word.rstrip("xy.")

'sad'

In [ ]:
# напоминалка про операторв in и not in
print("the" not in ["the", "a", "in", "they", "are"])
print("the" in "theodor")

False
True

дополнительно

In [23]:
list_of_mutables = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_of_mutables_copied = list_of_mutables[:]  # метод copy() работает так же, с extend та же история

list_of_mutables[0][0] = 0
print(list_of_mutables)  # [[0, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_mutables_copied)  # [[0, 2, 3], [4, 5, 6], [7, 8, 9]]


list_of_immutables = ["a", "b", "c"]
list_of_immutables_copied = list_of_immutables[:]
list_of_immutables[0] = "d"
print(list_of_immutables)  # ['d', 'b', 'c']
print(list_of_immutables_copied)  # ['a', 'b', 'c']

# для полноценных копий можно использовать deepcopy() из модуля copy

[[0, 2, 3], [4, 5, 6], [7, 8, 9]]
[[0, 2, 3], [4, 5, 6], [7, 8, 9]]
['d', 'b', 'c']
['a', 'b', 'c']